@charset "utf-8"

/* Common styles */
.wid {
	width: 500px;
	max-height: 400px;
	max-width: 1em;
}

.col-md-12 img {
	width: 100%;
}

.head {
	height: 600px;
	background-image: url(../img/logo_picture.png);
}

.credo {
	margin-top: 12%;
	float: left;
	font-size: 1em;
	display: inline-block;
	color: #7b7b7b;
}

.bottom {
	position: absolute;
	bottom: 0;
}

.ba_text {
	margin-top: 8%;
	margin-bottom: 3%;
	color: #7b7b7b;
	text-align: center;
}

#before_after p{
	font-size: 0.85em;
	margin: 0;
	padding: 0;
	text-align: center;
}

.ba_bef {
	margin: 0;
	max-height: 300px;
	margin-bottom: 5%;
	margin-top: 5%;
}

.ba_button {
	margin-bottom: 5%; 
}

#quote {
	height: 420px;
	background: #2c2c2c;
}

.qot_person {
	padding-top: 19.6%;	
}

#cmmnt {
	display: block;
	/*height: 550px;*/
}

#cmmnt h1 {
	padding-top: 16.5%;
	text-align: center;
}

#cmmnt p {
		text-align: center;
		padding: 0 12%;
		margin-bottom: 17%;
}

#more_photos {
	/*height: 1400px;*/
	background: #292929;
	text-align: center;
	color: #fff;
	padding: 12%;
}

#mp_intro {
	margin-bottom: 5%;
}

#mp_intro h1 {
	margin-top: 5%;
}

.mp_img {
	margin-top: 12%;
	margin-bottom: 10%; 
}

.mp_desc {
	margin: 7%;
}

#photo_studio {
	/*height: 650px;*/
}

#photo_studio p {
	text-align: center; 
	font-size: 1.6em;
}

#photo_studio img {
	margin: 1%;
}

.ps_img {
	margin-top: 12%;
	margin-bottom: 6%;
}

#photo_studio p.ps {
	margin-top: 5%;
	margin-bottom: 13%;
	font-size: 3.5em;
}

#contacts {
	text-align: center;
	color: #fff;
	/*height: 900px;*/
	background: url(../img/form/photo.png);
	background-repeat: no-repeat;
	background-position: center center;
/*	background-attachment: fixed;*/
	background-size: cover;
}

#contacts input {
	width: 100%;
	margin-bottom: 20px;
	background: none;
	border: none;
	border-bottom: 1px solid #fff; 
}

#contacts input:focus {
	background: rgba(255, 255, 255, .1);
}

#contacts textarea {
	overflow: hidden;
	max-width: 100%;
	min-width: 100%;
	height: 8%;
	resize: none;
	background: none;
	border: none;
	border-bottom: 1px solid #fff; 
}

#contacts textarea {
	background: rgba(255, 255, 255, .1);
}

#contacts h1 {
	padding-top: 15.555%;
	padding-bottom: 5%;
}

.cntct_btn {
	margin-top: 8.1%;
	margin-bottom: 16.6%;
}

form {
	padding-top: 6%;
} 

footer {
	background: #282828;
}

footer p {
	color: #fff;
	font-size: 1.15em;
}

.foo_nav {
	margin-top: 21.7777%;
	margin-bottom: 12.51851%;
	padding-left: 2%;
}

.foo_nav li {
	display: inline-block;
	list-style: none;
	margin-right: 10px;
	padding: 0;
}

.foo_nav li a {
	padding: 0;
	text-decoration: none;
	color: #fff;
}

.foo_logo {
	max-height: 225px;
	padding: 0;
	margin-bottom: 30%;
}